The Open Telemetry Foundation

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by Grafana Beyla (https://github.com/grafana/beyla).
Copyright Grafana Labs.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by OpenTelemetry Go Automatic Instrumentation (https://github.com/open-telemetry/opentelemetry-go-instrumentation).
Copyright The OpenTelemetry Authors.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by libbpf (https://github.com/libbpf/libbpf).
Copyright The Libbpf Authors.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by ebpf-go (https://github.com/cilium/ebpf).
Copyright Authors of Cilium.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by ebpf-go (https://github.com/cilium/cilium).
Copyright Authors of Cilium.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by NetObserv eBPF Agent (https://github.com/netobserv/netobserv-ebpf-agent).
Copyright Red Hat/IBM.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by NetObserv Flowlogs-Pipeline (https://github.com/netobserv/flowlogs-pipeline).
Copyright Red Hat/IBM.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by the DataDog Agent (https://github.com/DataDog/datadog-agent).
Copyright DataDog.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by the New Relic Infrastructure Agent (https://github.com/newrelic/infrastructure-agent).
Copyright New Relic.

The Initial Developer of some parts of the product, which are copied from, derived from, or
inspired by Meta strobelight (https://github.com/facebookincubator/strobelight).
Copyright Meta.

In the event that we accidentally failed to list a required notice, please
bring it to our attention by opening a GitHub issue at
https://github.com/open-telemetry/opentelemetry-ebpf-instrumentation/issues.

{{- define "depInfo" -}}
{{- range $i, $dep := . }}
{{ "-" | line }}
Dependency : {{ $dep.Name }}
Version: {{ $dep.Version }}
Licence type (autodetected): {{ $dep.LicenceType }}
{{ "-" | line }}

{{ $dep | licenceText }}
{{ end }}
{{- end -}}

opentelemetry-ebpf-instrumentation
Copyright 2025-{{ currentYear }} The OpenTelemetry Authors

{{ "=" | line }}
Third party libraries used by opentelemetry-ebpf-instrumentation:
{{ "=" | line }}

{{ template "depInfo" .Direct }}

{{ if .Indirect }}
{{ "=" | line }}
Indirect dependencies

{{ template "depInfo" .Indirect -}}
{{- end}}
